.mainContainer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding-top: 20px;
  width: 100% !important;
  height: 400px !important;
}

.heading {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-align: center;
}
.headingTwo {
  text-align: center;
}
.carouselContainer {
  margin: 5%;
  padding: 2%;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 10px;
  height: 200px !important;
  box-shadow: 0px -1px 14px 0 rgb(0 0 0 / 13%);
}

.reviewImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: unset !important;
}
.reviewerImage {
  position: relative !important;
  height: 40px !important ;
}
.reviewerName {
  margin-left: 15px;
}
.reviewContent {
  display: flex;
  justify-content: center;
  margin: 0px 5px;
  font-weight: 600;
  width: 93% !important;
  height: 80px;
}
.starContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
.startColor {
  fill: gold;
}
.reviewButtonContainer {
  display: flex;
  align-self: center;
  margin-top: 20px;
  width: 130px;
  height: 40px;
  text-align: center;
}
.reviewButton {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  width: 150px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  background-color: #0070f3;
  color: white;
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
  transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
  text-decoration-line: none;
}
.reviewButton:hover {
  background-color: rgba(0, 118, 255, 0.9);
  box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 28px;
  }
  .mainContainer {
    height: 180px;
  }
  .carouselContainer {
    height: 110px;
  }
  .reviewImage {
    width: 90% !important;
    height: 90px !important ;
  }
}

@media only screen and (min-width: 600px) {
  .carouselContainer {
    margin: 0px 15%;
  }

  .headingTwo {
    margin-bottom: 20px;
  }
}
