.mainContaineer {
  margin-top: 90px;
  font-family: Open Sans;
  background-color: rgba(240, 248, 255, 0.479);
}
.contactInfo {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: rgb(101, 34, 226);
}
.number {
  color: rgb(128, 127, 192);
  text-decoration-line: none;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bannerImage {
  width: 740px !important;
  position: relative !important;
  height: 200px !important;
  box-shadow: 1px 1px 0px 1px #fbffbe;
}

@media only screen and (max-width: 600px) {
  .contactInfo {
    font-size: 12px;
  }
  .bannerImage {
    width: 340px !important;
    height: 140px !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .contactInfo {
    font-size: 16px;
  }
  .bannerImage {
    width: 540px !important;
    height: 240px !important;
  }
}
