.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  background-color: #882e2e;
  height: 50px;
}
.instaButton {
  color: white;
  cursor: pointer;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration-line: none;
}
.instaLogo {
  color: white;
}
.instaButton:hover {
  color: rgb(0, 0, 0);
}

.blog {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
  margin: 0px;
  background-color: #882e2e;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.blog:hover {
  color: rgb(0, 0, 0);
}
